body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow:1;
}



.img-logo{
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.redes{
    width: 40px;
    height: 40px;
    background-color: #fffbff;
    color:#77777c;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition:  #fffbff 0.3s;
     display: inline-flex;         
    align-items: center;
    justify-content: center;
}

.redes:hover{
    background-color: #77777c;
    color:#f2e68b;
}

.imagenError404{
width: 100%;
  height: auto;
  object-fit: contain;
}

.bottonErorr404{
    position: relative;
    z-index: 10;
}